body {
    margin-top: 50px;
    /*background-color: #c0deed;*/
    color: black;
    font-family: Helvetica;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}
.checked {
    color: orange;
}